{
  "root": true,
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:lodash/recommended",
    "plugin:prettier/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "lodash", "prettier", "lingui"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
  },
  "env": {
    "es6": true,
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
  "globals": {
    "__DEV__": true,
    "__dirname": false,
    "__fbBatchedBridgeConfig": false,
    "AbortController": false,
    "Blob": true,
    "alert": false,
    "cancelAnimationFrame": false,
    "cancelIdleCallback": false,
    "clearImmediate": true,
    "clearInterval": false,
    "clearTimeout": false,
    "console": false,
    "document": false,
    "ErrorUtils": false,
    "escape": false,
    "Event": false,
    "EventTarget": false,
    "exports": false,
    "fetch": false,
    "File": true,
    "FileReader": false,
    "FormData": false,
    "global": false,
    "Headers": false,
    "Intl": false,
    "Map": true,
    "module": false,
    "navigator": false,
    "process": false,
    "Promise": true,
    "requestAnimationFrame": true,
    "requestIdleCallback": true,
    "require": false,
    "Set": true,
    "setImmediate": true,
    "setInterval": false,
    "setTimeout": false,
    "queueMicrotask": true,
    "URL": false,
    "URLSearchParams": false,
    "WebSocket": true,
    "window": false,
    "XMLHttpRequest": false,
  },
  "rules": {
    // You must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "no-var": "error",

    "eslint-comments/no-unlimited-disable": "off",

    // Turn of unuseful TS specific rules
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "destructuredArrayIgnorePattern": "^_" },
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",

    // https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html#eslint
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",

    "dot-notation": "warn",

    "lodash/import-scope": "error",
    "lodash/prefer-lodash-method": "off",
    "lodash/prefer-lodash-typecheck": "off",
    "lodash/collection-ordering": "off",
    "lodash/prop-shorthand": "off",
    "lodash/prefer-constant": "off",
    "lodash/prefer-noop": "off",

    // Lingui rules (more info here: https://github.com/lingui/eslint-plugin?tab=readme-ov-file#supported-rules)
    "lingui/no-unlocalized-strings": [
      "warn",
      {
        "ignore": ["rgba", "rgb"],
        "ignoreFunction": [
          "console.log",
          "console.error",
          "Error",
          "styled",
          "css",
        ],
        "ignoreProperty": ["name", "targetName"],
        "ignoreAttribute": [],
      },
    ],
    "lingui/t-call-in-function": 2,
    "lingui/no-single-variables-to-translate": 2,
    "lingui/no-expression-in-message": 2,
    "lingui/no-single-tag-to-translate": 2,
    "lingui/no-trans-inside-trans": 2,
    "lingui/text-restrictions": [
      2,
      {
        "rules": [
          {
            "patterns": ["''", "’", "“"],
            "message": "Error message",
          },
        ],
      },
    ],

    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "{~*,~*/**}",
            "group": "internal",
            "position": "after",
          },
        ],
        "groups": [
          ["builtin", "external", "internal"],
          ["parent", "sibling", "index"],
        ],
        "newlines-between": "always",
      },
    ],
  },
}
