<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>Taito Template</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true />
				</dict>
			</dict>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>Camera is needed to take photos of users</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Photo library is needed for photos of users</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Photo library is needed for photos of users</string>
		<key>NSAppleMusicUsageDescription</key>
		<string>Access to media library is needed for additional media e.g. sound from users</string>
		<key>UIAppFonts</key>
		<array>
			<string>AtkinsonHyperlegible-Bold.ttf</string>
			<string>AtkinsonHyperlegible-BoldItalic.ttf</string>
			<string>AtkinsonHyperlegible-Italic.ttf</string>
			<string>AtkinsonHyperlegible-Regular.ttf</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>BootSplash</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
	</dict>
</plist>